table
    for red in Lista
        tr
            td #{red.ime}
            td=red.korisnickoIme
            if red.verified==true
                td
                    button(onclick="verify('"+red.korisnickoIme+"')" id=red.korisnickoIme value="unverify") unverify
            else if red.verified==false
                td
                    button(onclick="verify('"+red.korisnickoIme+"')" id=red.korisnickoIme) verify
            else
                td