doctype html
html(lang="bs")
  head
    style
        include listaKorisnika.css
    script.
        function verify(id)
            {
                var x = document.getElementById(id);
                var ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function() {
                     if(x.innerHTML=="verify") x.innerHTML="unverify";
                     else x.innerHTML="verify";
                }
                ajax.open("POST", '/verifikacija', true);
                ajax.setRequestHeader("Content-type", "application/json");
                ajax.send(JSON.stringify({'korisnickoIme':id}));
            }
        function prikazi()
            {
                console.log(document.getElementById("polje").value);
                var ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function() {
                    document.getElementById("glavni").innerHTML=ajax.responseText;
                }
                ajax.open("POST", '/pretraga', true);
                ajax.setRequestHeader("Content-type", "application/json");
                ajax.send(JSON.stringify({'korisnickoIme':document.getElementById("polje").value}));
            }
        
  body
    h1 Administrator
    input(type='text' id="polje")
    input(type='button' value='Pretraži' onclick='prikazi()')
   
    div(id='glavni')
        table
            for red in Lista
                tr
                    td #{red.ime}
                    td=red.korisnickoIme
                    if red.verified==true
                        td
                            button(onclick="verify('"+red.korisnickoIme+"')" id=red.korisnickoIme value="unverify") unverify
                    else if red.verified==false
                        td
                            button(onclick="verify('"+red.korisnickoIme+"')" id=red.korisnickoIme) verify
                    else
                        td