@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Semi+Condensed');

body
{
	background-color:#383c45;
	margin: 10pt;
	font-family: 'Raleway', sans-serif;
}


a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}



.menu #lista
{
	display: flex;
	justify-content: center;
}

.menu ul
{
	text-align: center;
	list-style: none;
	font-size: 12pt;

}

.menu ul li
{
	float: center;

}
.menu img
{
	width: 100%;

}
hr
{
	border: 1px solid #f8445d;
	width: 100%;
	align:center;
	margin-bottom:20pt;
	
}

#naslovna
{
	border: 2px solid #f8445d;
	margin-bottom: 40pt;
}


a
{
	color: #f8445d;
}


#linkovi
{
	font-size: 2vw;
	font-size-adjust: auto;	
	color:white;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
}

@media only screen and (min-width: 700px)
{
	
	.menu
	{
		display:grid;
		grid-template-columns:50% 50%;
	}

	.menu img
	{
	width: 50%;

	}

	.menu #lista
	{
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	.menu ul li
	{
		float: right;
		padding-right: 10pt;

	}
	


}





