@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway|Saira+Semi+Condensed');

#errorLogin
{
	text-align: right;
	color:white;
}
body
{
	
	background-color:#383c45;
	
}

#error
{
	text-align:center;
	font-family:'Raleway', sans-serif;
	color:white;
	font-size: 10pt;
}

#error2
{
	text-align:center;
	font-family:'Raleway', sans-serif;
	color:white;
	font-size: 10pt;
	display: none;
}


h1
{
	text-align:center;
	font-size:45pt;
	font-family:'Raleway', sans-serif;
	color:white;
	margin-bottom:0;
	margin-top: 15pt;
}

input {
	outline:none;
	border-radius:12px;
	opacity:0.6;
	border:none;
	height:1.8em;
	margin-bottom:10pt;
	padding-left:10pt;
	box-sizing: border-box;
	width: 80%;
	font-family:'Raleway', sans-serif;
	padding-right: 10pt;
}

hr
{
	border: 1px solid #f8445d;
	width: 100%;
	margin-bottom:10pt;
	
}



select
{
	outline:none;
	border-radius:12px;
	opacity:0.6;
	border:none;
	height:1.8em;
	margin-bottom:12.5pt;
	padding-left:10pt;
	width: 80%;
	font-family:'Raleway', sans-serif;

}


#login
{
    text-align: center;
}



h3
{
	/*font-size:45pt;*/
	font-family:'Raleway', sans-serif;
	color:white;
	margin-bottom:20pt;
	margin-top: 0pt;
}

#linija
{
	max-width: 0;
}

@media only screen and (max-width: 700px)
{
	h3
	{
		font-size: 20pt;
	}
}

.dugme
{
	outline:none;
	border-radius:12px;
	opacity:1;
	border:none;
	height:1.8em;
	margin-bottom:12.5pt;
	padding-left:10pt;
	width: 80%;
	font-family:'Raleway', sans-serif;
	background:#f8445d;
	color: white;
}

#registracija
{
	text-align: center;
	padding-top: 0pt;
}

#registracijaNastavnika
{
	text-align: center;
	display: none;
}



@media only screen and (min-width: 700px) {
select
{
	width: 40%;
}
.dugme
{
	width: 40%;
}
#login
{
    text-align: right;
}

#registracija
{
	text-align: left;

}
#registracijaNastavnika
{
	text-align: left;

}



hr
{
	width: 50%
}

input
{
	width:40%;
}
   

#sredina img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#sredina
{
	
}

#linija
{
	max-width:100%;
}


#drugi
{
		
		padding:15pt;
		padding-top: 0pt;
		border-right: 1px solid white;
}
#treci
{
	
	padding:15pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
}

.wrapper
{
	display:grid;
	grid-template-columns:1fr 1fr;
	margin-bottom: 10pt;
}
}