body
{
	background-color:#383c45;
	margin: 10pt;
	font-family: 'Raleway', sans-serif;
}

.naslov
{
	color: white;
	text-align: center;
}

.statistika
{
	margin-top: 35pt;
	margin-bottom: 15pt;
	
}

table#t01
{
	width: 100%;
	font-size: 9pt;
}


@media only screen and (min-width: 700px)
{
	.statistika
	{
	display:grid;
	grid-template-columns:1fr 2fr;
	}

	#statistike
	{
		border-right: 1px solid white;
	}

	#statistike p
{
text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.komentari
{
	
	display:grid;
	grid-column-gap: 2em;
	grid-template-columns:1fr 1fr 1fr;
}

table#t01
{
	font-size:15pt;
}

}

#statistike
{
	
	padding: 10pt;
	
}


#imeiprezime
{
	padding: 10pt;
	display: flex;
	align-items: center;
	justify-content: center;

}

#statistike p
{
	background-color: white;
	border-radius:12px;
	padding-left:10pt;
	box-sizing: border-box;
	opacity:0.6;
	height:1.8em;
	padding-right: 10pt;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: center;
}


table#t01 tr td{
	text-align: center;
	background-color: white;
  	opacity: 0.6;
    
}

table#t01 th {
    color: white;
    background-color: #f8445d;
    opacity: 1.0;
}

table#t01 td:first-child
{
	background-color: #f8445d;
	opacity: 1.0;
	color: white;

}

a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.komentari
{
	margin-bottom: 15pt;
	padding: 20pt;
	
}

.komentari p
{
	padding: 10pt;
	color: white;
	border: 1px solid #f8445d;
	max-height: 200px;
	overflow-y: scroll;
}


.komentari p::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background: none;
	margin-right: 5pt;
}

.komentari p::-webkit-scrollbar
{
	width: 12px;
	background:none;
}

.komentari p::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:  white;
}

#buttoni
{
	display: flex;
	justify-content: center;
	margin-bottom: 40pt;
}

#buttoni input
{
	padding: 7pt;
	background-color:#383c45;
	border:1px solid #f8445d;
	color: white;
	font-family: 'Raleway', sans-serif;
}

#buttoni input:hover
{
	background-color:white;
	opacity: 0.6;
	color: #383c45;
}


