table#t01
{
	width: 100%;
	max-width: 100%;
	font-size: 9pt;
}

table#t01 tr td{
	text-align: center;
	background-color: white;
  	opacity: 0.6;
    
}

table#t01 th {
    color: white;
    background-color: #f8445d;
    opacity: 1.0;
}

table#t01 td:first-child
{
	background-color: #f8445d;
	opacity: 1.0;
	color: white;

}

input
{
	width: 80%;
	max-width: 100%;
	font-family: 'Raleway', sans-serif;

}

#spirale input
{

	outline:none;
	border-radius:12px;
	opacity:1;
	border:none;
	height:1.8em;
	margin: 5pt;
	padding-left:10pt;
	width: 40%;
	font-family:'Raleway', sans-serif;
	background:#f8445d;
	color: white;

}


@media only screen and (min-width: 700px)
{
	table#t01
{
	font-size: 15pt;
}

	#spirale input
	{
		
		width: 20%;
		

	}
}



#spirale
{
	/*display: flex;
	justify-content: center;*/
	text-align: center;
	margin-bottom: 35pt;
}



#linija
{
		border: 1px solid white;
}