
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="akcije.js"></script>
	<script type="text/javascript" src="poruke.js"></script>
	<script type="text/javascript" src="validacija.js"></script>
	<script type="text/javascript" src="kreirajFajl.js"></script>
	<script type="text/javascript" src="bitbucketApi.js"></script>
	
	<div>
        <input placeholder="KEY" id="key"><br>
        <input placeholder="SECRET" id="secret"><br>
        <input placeholder="Naziv repozitorija" id="rep"><br>
        <input placeholder="Naziv brancha" id="branch"><br>
        <input placeholder="Trenutna godina" id="godina"><br>
        <input type="submit" placeholder="Generiši" onclick="BitbucketApi.dohvatiAccessToken(document.getElementById('key').value,document.getElementById('secret').value,pomocnaFja)">
        <div id="odgovorBit"></div>
    </div>
