<h1 class="naslov">Statistike studenta</h1>
	<h2 class="naslov">Ime Prezime</h2>

	<div class=statistika>
		<div id="statistike">
			<p>Broj indexa</p>
			<p>Link repozitorija</p>
			<p>Prva parcijala: 20 p</p>
			<p>Druga parcijala: 20 p </p>
		</div>
		<div id="imeiprezime">
			<table id="t01">
  <tr>
    <th>X</th>
    <th>Spirala 1</th> 
    <th>Spirala 2</th>
    <th>Spirala 3</th> 
    <th>Spirala 4</th>
  </tr>
  <tr>
    <td>Student 1</td>
    <td><a href="#">X1</a></td> 
    <td><a href="#">X2</a></td>
    <td><a href="#">X3</a></td> 
    <td><a href="#">X4</a></td>
  </tr>
   <tr>
    <td>Student 2</td>
    <td><a href="#">X1</a></td> 
    <td><a href="#">X2</a></td>
    <td><a href="#">X3</a></td> 
    <td><a href="#">X4</a></td>
  </tr>
   <tr>
    <td>Student 3</td>
    <td><a href="#">X1</a></td> 
    <td><a href="#">X2</a></td>
    <td><a href="#">X3</a></td> 
    <td><a href="#">X4</a></td>
  </tr>
  <tr>
    <td>Student 4</td>
    <td><a href="#">X1</a></td> 
    <td><a href="#">X2</a></td>
    <td><a href="#">X3</a></td> 
    <td><a href="#">X4</a></td>
  </tr>
  <tr>
    <td>Student 5</td>
    <td><a href="#">X1</a></td> 
    <td><a href="#">X2</a></td>
    <td><a href="#">X3</a></td> 
    <td><a href="#">X4</a></td>
  </tr>

</table>
		</div>
	</div>
<hr>
<h1 class="naslov">Komentari</h1>
	<h2 class="naslov">Spirala 1</h2>

<div class="komentari">
	<div>
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum mauris, egestas quis feugiat eget, blandit eu ligula. Nam vitae tortor ut sapien elementum hendrerit. Nam eu metus ipsum. Suspendisse potenti. Quisque vitae risus dictum, vestibulum arcu in, feugiat purus. Integer suscipit, orci aliquam iaculis interdum, leo lorem pellentesque ligula, nec vehicula tortor eros viverra felis. Pellentesque id elementum nisi, eu gravida est. In efficitur vestibulum massa, semper vestibulum felis blandit ut.

</p>
	</div>

	<div>
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum mauris, egestas quis feugiat eget, blandit eu ligula. Nam vitae tortor ut sapien elementum hendrerit. Nam eu metus ipsum. Suspendisse potenti. Quisque vitae risus dictum, vestibulum arcu in, feugiat purus. Integer suscipit, orci aliquam iaculis interdum, leo lorem pellentesque ligula, nec vehicula tortor eros viverra felis. Pellentesque id elementum nisi, eu gravida est. In efficitur vestibulum massa, semper vestibulum felis blandit ut.

</p>
	</div>

	<div>
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum mauris, egestas quis feugiat eget, blandit eu ligula. Nam vitae tortor ut sapien elementum hendrerit. Nam eu metus ipsum. Suspendisse potenti. Quisque vitae risus dictum, vestibulum arcu in, feugiat purus. Integer suscipit, orci aliquam iaculis interdum, leo lorem pellentesque ligula, nec vehicula tortor eros viverra felis. Pellentesque id elementum nisi, eu gravida est. In efficitur vestibulum massa, semper vestibulum felis blandit ut.

</p>
	</div>

	<div>
		<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum mauris, egestas quis feugiat eget, blandit eu ligula. Nam vitae tortor ut sapien elementum hendrerit. Nam eu metus ipsum. Suspendisse potenti. Quisque vitae risus dictum, vestibulum arcu in, feugiat purus. Integer suscipit, orci aliquam iaculis interdum, leo lorem pellentesque ligula, nec vehicula tortor eros viverra felis. Pellentesque id elementum nisi, eu gravida est. In efficitur vestibulum massa, semper vestibulum felis blandit ut.

</p>
	</div>

	<div>
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum mauris, egestas quis feugiat eget, blandit eu ligula. Nam vitae tortor ut sapien elementum hendrerit. Nam eu metus ipsum. Suspendisse potenti. Quisque vitae risus dictum, vestibulum arcu in, feugiat purus. Integer suscipit, orci aliquam iaculis interdum, leo lorem pellentesque ligula, nec vehicula tortor eros viverra felis. Pellentesque id elementum nisi, eu gravida est. In efficitur vestibulum massa, semper vestibulum felis blandit ut.

</p>
	</div>

</div>

<div id="buttoni">
	<input type="Submit" name="L" value="<">
	<input type="Submit" name="X1" value="1">
	<input type="Submit" name="X2" value="2">
	<input type="Submit" name="X3" value="3">
	<input type="Submit" name="X4" value="4">
	<input type="Submit" name="X5" value="5">
	<input type="Submit" name="R" value=">">
</div>
