<script type="text/javascript" src="akcije.js"></script>
<div>
	
		 <input type="number" min="1" max="4" id="spiralaZaFju">
		 <input type="number" min="10000" id="indexZaFju">
		 <input type="submit" value="Potvrdi" onclick="pokupiPodatke(KreirajFajl.kreirajKomentar,fn)">

</div>	
<div id="spirale"></div>
		<input type="submit" value="Spirala 1">
		<input type="submit" value="Spirala 2">
		<input type="submit" value="Spirala 3">
		<input type="submit" value="Spirala 4">
	</div>
	<hr id="linija">
	<div>
		<table id="t01">
  		<tr>
		    <th>X</th>
		    <th>Šifra studenta</th> 
		    <th>Komentar</th> 
	    </tr>
		  <tr>
		    <td>Student 1</td>
		    <td>A</td> 
		    <td><input type="text" placeholder="Unesite komentar"></td> 
		    <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
		    <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="zamijeniDole(1)"></i></td>
		  </tr>
		   <tr>
		    <td>Student 2</td>
		     <td>B</td> 
		    <td><input type="text" placeholder="Unesite komentar"></td> 
		     <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="zamijeniGore(2)"></i></td>
		    <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="zamijeniDole(2)"></i></td>
		  </tr>
		   <tr>
		    <td>Student 3</td>
		    <td>C</td> 
		    <td><input type="text" placeholder="Unesite komentar"></td> 
		     <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="zamijeniGore(3)"></i></td>
		    <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="zamijeniDole(3)"></i></td>
		  </tr>
		  <tr>
		    <td>Student 4</td>
		    <td>D</td> 
		    <td><input type="text" placeholder="Unesite komentar"></td> 
		     <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="zamijeniGore(4)"></i></td>
		    <td><i class="fa fa-thumbs-o-down" aria-hidden="true" onclick="zamijeniDole(4)"></i></td>
		  </tr>
		  <tr>
		    <td>Student 5</td>
		     <td>E</td> 
		    <td><input type="text" placeholder="Unesite komentar"></td> 
		     <td><i class="fa fa-thumbs-o-up" aria-hidden="true" onclick="zamijeniGore(5)"></i></td>
		    <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
		  </tr>

</table>
	</div>
