    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="akcije.js"></script>
	<script type="text/javascript" src="poruke.js"></script>
	<script type="text/javascript" src="validacija.js"></script>
	<script type="text/javascript" src="kreirajFajl.js"></script>
	<script type="text/javascript" src="bitbucketApi.js"></script>
	
	<hr id="naslovna">
	<textarea rows="4" cols="73" id="matrica">
    </textarea><br>
    <input type="number" id="brSpirale"><br>
    <input type="submit" value="Dodaj" onclick="spisak()"></input>
    <div id="rezultat"></div>
